
#ignore any cache folders or files
__pycache__/
data/__pycache__/
models/__pycache__/
.ipynb_checkpoints
*.DS_Store
.Rhistory

#ignore any environments
*.pyc
.env
.venv
env/
venv/
psp_venv/
/psp_gcp/venv

#ignore dataset files and models
/psp_gcp/*.npy
/psp_gcp/*.gz
/psp_gcp/*.json
/data/*.npy
/data/*.gz
/models/*.npy
/models/*.h5
/psp_gcp/*.h5
*.npy
*.gz
*.h5
*.csv
*.pkl
*.ipynb
*.docx

#ignore local folder used to store models
/saved_models
/old_stuff
/psp_gcp.egg-info

#ignore json files, specifically json storing cloud credentials
*.json
